In [1]:
import pandas as pd

In [2]:
#
#df = pd.read_csv('turnstile_160319_simplified.csv')

# Real data
df = pd.read_csv('turnstile_160319.txt')

In [3]:
my_list =  list(df.columns)
print my_list

['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS                                                               ']

In [4]:
df.describe()

,ENTRIES,EXITS
count,1.918900e+05,1.918900e+05
mean,3.454893e+07,2.816179e+07
std,1.931732e+08,1.741115e+08
min,0.000000e+00,0.000000e+00
25%,5.664950e+05,2.942732e+05
50%,2.528994e+06,1.474844e+06
75%,6.406928e+06,4.598537e+06
max,2.146697e+09,2.097164e+09

In [25]:
df.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES',
       u'EXITS                                                               '],
      dtype='object')

In [5]:
# Removing unnec. columns
del df['C/A'], df['UNIT'], df['DIVISION'], df['LINENAME']

In [6]:
# Clearing up the remaining column titles including exits
df.columns = ["turnstyle", "station","date","time","type","entries","exits"]

In [7]:
print df.head()

  turnstyle station        date      time     type  entries    exits
0  02-00-00   59 ST  03/12/2016  03:00:00  REGULAR  5583673  1884949
1  02-00-00   59 ST  03/12/2016  07:00:00  REGULAR  5583689  1884968
2  02-00-00   59 ST  03/12/2016  11:00:00  REGULAR  5583785  1885067
3  02-00-00   59 ST  03/12/2016  15:00:00  REGULAR  5584037  1885157
4  02-00-00   59 ST  03/12/2016  19:00:00  REGULAR  5584482  1885250

# Here i add in lattitude and longitude into our main dataframe ("df")

In [7]:
### Here I build the function which calls the google api and shoots out location data

In [8]:
    # Import nec. libraries
import urllib
import json

In [9]:
def get_LatLong(address):
# 1) Set-up service url:
        import urllib
        import json

# Google URL
        serviceurl = "http://maps.googleapis.com/maps/api/geocode/json?"

# 2) Encode location data into 'url-speak' to be added to the end of the service url
        url = serviceurl + urllib.urlencode({'sensor':'false', 'address': address})
#        print "Retrieving:", url

# 3) Open the socket to the url
        socket = urllib.urlopen(url)

# 4) Read th data in as a string.
        data_string = socket.read()
#        print 'Retrieved',len(data_string),'characters'

# 5) Convert it from a JSON string to a dictionary
        data_dict = json.loads(data_string)

# 6) Sort through results until you get to what you want...
        

#print type(data_dict["results"])
        print data_dict
        # place_id = data_dict["results"][0]["place_id"]
        #location_id = data_dict["geometry"]
        #print location_id

        # print 
        return data_dict["results"][0]["geometry"]["location"]
#        print data_dict["results"][0]["place_id"]
#        print json.dumps(data_dict["results"], indent=4)
# 8) Print it out!
        # print "Place ID:", place_id

# print location_id


#1 ave nyc subway

In [10]:
get_LatLong("PRINCE ST nyc subway")

{u'status': u'OK', u'results': [{u'geometry': {u'location_type': u'GEOMETRIC_CENTER', u'bounds': {u'northeast': {u'lat': 40.7269581, u'lng': -73.993223}, u'southwest': {u'lat': 40.7223437, u'lng': -74.00346069999999}}, u'viewport': {u'northeast': {u'lat': 40.7269581, u'lng': -73.993223}, u'southwest': {u'lat': 40.7223437, u'lng': -74.00346069999999}}, u'location': {u'lat': 40.724628, u'lng': -73.9986114}}, u'formatted_address': u'Prince St, New York, NY 10012, USA', u'place_id': u'ChIJzwnt-o5ZwokR3d37C8NBwO4', u'address_components': [{u'long_name': u'Prince Street', u'types': [u'route'], u'short_name': u'Prince St'}, {u'long_name': u'Lower Manhattan', u'types': [u'neighborhood', u'political'], u'short_name': u'Lower Manhattan'}, {u'long_name': u'Manhattan', u'types': [u'sublocality_level_1', u'sublocality', u'political'], u'short_name': u'Manhattan'}, {u'long_name': u'New York', u'types': [u'locality', u'political'], u'short_name': u'New York'}, {u'long_name': u'New York County', u'types': [u'administrative_area_level_2', u'political'], u'short_name': u'New York County'}, {u'long_name': u'New York', u'types': [u'administrative_area_level_1', u'political'], u'short_name': u'NY'}, {u'long_name': u'United States', u'types': [u'country', u'political'], u'short_name': u'US'}, {u'long_name': u'10012', u'types': [u'postal_code'], u'short_name': u'10012'}], u'partial_match': True, u'types': [u'route']}]}

{u'lat': 40.724628, u'lng': -73.9986114}

In [10]:
len(df["station"].unique())

373

In [11]:
df["station"].unique()[0:15]

array(['59 ST', '5 AV/59 ST', '57 ST-7 AV', '49 ST', 'TIMES SQ-42 ST',
       '34 ST-HERALD SQ', '28 ST', '23 ST', '14 ST-UNION SQ', '8 ST-NYU',
       'PRINCE ST', 'CANAL ST', 'CITY HALL', 'CORTLANDT ST', 'RECTOR ST'], dtype=object)

In [12]:
station_loc_dict = {}

This function has to be run a couple of times...

In [ ]:
len(station_loc_dict)
len(df["station"].unique())

In [11]:
# I'm not sure why, but the while statement doesn't seem to make a difference.

# Keep running until it doesn't spit out anymore output
n = len(df["station"].unique())  # Saving this here for now.

while len(station_loc_dict) < 200:
    for station in df["station"].unique():
        try:
            if station not in station_loc_dict:
                search_phrase = str(station) + " station nyc"
                LatLongTuple = get_LatLong(search_phrase)
                print station, LatLongTuple
                #search_phrase, 
                station_loc_dict[station] = LatLongTuple
        except:
            pass

NameError: name 'station_loc_dict' is not defined

In [61]:
print len(station_loc_dict)
len(station_loc_dict)

373

{'1 AV': {u'lat': 40.70714419999999, u'lng': -73.83479990000001},
 '103 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '103 ST-CORONA': {u'lat': 40.7127837, u'lng': -74.0059413},
 '104 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '110 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '111 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '116 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '116 ST-COLUMBIA': {u'lat': 40.7127837, u'lng': -74.0059413},
 '121 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '125 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '135 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '137 ST CITY COL': {u'lat': 40.7127837, u'lng': -74.0059413},
 '138/GRAND CONC': {u'lat': 40.7127837, u'lng': -74.0059413},
 '14 ST': {u'lat': 40.713982, u'lng': -73.932068},
 '14 ST-UNION SQ': {u'lat': 40.7127837, u'lng': -74.0059413},
 '145 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '149/GRAND CONC': {u'lat': 40.7127837, u'lng': -74.0059413},
 '14TH STREET': {u'lat': 40.7127837, u'lng': -74.0059413},
 '15 ST-PROSPECT': {u'lat': 40.7127837, u'lng': -74.0059413},
 '155 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '157 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '161/YANKEE STAD': {u'lat': 40.7127837, u'lng': -74.0059413},
 '163 ST-AMSTERDM': {u'lat': 40.7127837, u'lng': -74.0059413},
 '167 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '168 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '169 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '170 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '174 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '174-175 STS': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '175 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '176 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '18 AV': {u'lat': 40.7107, u'lng': -73.85305},
 '18 ST': {u'lat': 40.7107, u'lng': -73.85305},
 '181 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '182-183 STS': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '183 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '190 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '191 ST': {u'lat': 40.8553621, u'lng': -73.9295207},
 '2 AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 '20 AV': {u'lat': 40.7106877, u'lng': -73.85297349999999},
 '207 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '21 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '21 ST-QNSBRIDGE': {u'lat': 40.7127837, u'lng': -74.0059413},
 '215 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '219 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '225 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '23 ST': {u'lat': 40.7130365, u'lng': -73.8773667},
 '231 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '233 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '238 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '25 AV': {u'lat': 40.7141209, u'lng': -73.9162594},
 '25 ST': {u'lat': 40.7141209, u'lng': -73.9162594},
 '28 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '3 AV': {u'lat': 40.7103778, u'lng': -73.8496768},
 '3 AV 138 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '3 AV-149 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '30 AV': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '33 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '33 ST-RAWSON ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '34 ST-HERALD SQ': {u'lat': 40.7127837, u'lng': -74.0059413},
 '34 ST-HUDSON YD': {u'lat': 40.7127837, u'lng': -74.0059413},
 '34 ST-PENN STA': {u'lat': 40.7127837, u'lng': -74.0059413},
 '36 AV': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '36 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '39 AV': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '4 AV-9 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '40 ST LOWERY ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '42 ST-BRYANT PK': {u'lat': 40.7127837, u'lng': -74.0059413},
 '42 ST-PORT AUTH': {u'lat': 40.7127837, u'lng': -74.0059413},
 '45 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '46 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '46 ST BLISS ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '47-50 STS ROCK': {u'lat': 40.7127837, u'lng': -74.0059413},
 '49 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '4AV-9 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '5 AV/53 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '5 AV/59 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '5 AVE': {u'lat': 40.709891, u'lng': -73.794949},
 '50 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '51 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '52 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '53 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '55 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '57 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '57 ST-7 AV': {u'lat': 40.73658, u'lng': -74.0011456},
 '59 ST': {u'lat': 40.7629881, u'lng': -73.9678661},
 '59 ST COLUMBUS': {u'lat': 40.7127837, u'lng': -74.0059413},
 '6 AV': {u'lat': 40.71237199999999, u'lng': -73.889526},
 '61 ST WOODSIDE': {u'lat': 40.7127837, u'lng': -74.0059413},
 '63 DR-REGO PARK': {u'lat': 40.7127837, u'lng': -74.0059413},
 '65 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '66 ST-LINCOLN': {u'lat': 40.7127837, u'lng': -74.0059413},
 '67 AV': {u'lat': 40.712498, u'lng': -73.8890256},
 '68ST-HUNTER CO': {u'lat': 40.7127837, u'lng': -74.0059413},
 '69 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '7 AV': {u'lat': 40.73658, u'lng': -74.0011456},
 '71 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '72 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '74 ST-BROADWAY': {u'lat': 40.7127837, u'lng': -74.0059413},
 '75 AV': {u'lat': 40.7129806, u'lng': -73.8758532},
 '75 ST-ELDERTS': {u'lat': 40.7127837, u'lng': -74.0059413},
 '77 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '79 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '8 AV': {u'lat': 40.8338811, u'lng': -73.85120289999999},
 '8 ST-NYU': {u'lat': 40.7127837, u'lng': -74.0059413},
 '80 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '81 ST-MUSEUM': {u'lat': 40.7127837, u'lng': -74.0059413},
 '82 ST-JACKSON H': {u'lat': 40.7127837, u'lng': -74.0059413},
 '85 ST-FOREST PK': {u'lat': 40.7127837, u'lng': -74.0059413},
 '86 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '88 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '9 AV': {u'lat': 40.7041134, u'lng': -73.82309719999999},
 '90 ST-ELMHURST': {u'lat': 40.7127837, u'lng': -74.0059413},
 '96 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 '9TH STREET': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ALABAMA AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'ALLERTON AV': {u'lat': 40.8746616, u'lng': -73.9057548},
 'AQUEDUCT N.COND': {u'lat': 40.7127837, u'lng': -74.0059413},
 'AQUEDUCT RACETR': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ASTOR PL': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'ASTORIA BLVD': {u'lat': 40.790242, u'lng': -73.9477967},
 'ASTORIA DITMARS': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ATL AV-BARCLAY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ATLANTIC AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE H': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE I': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE J': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE M': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE N': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'AVENUE P': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE U': {u'lat': 40.7629881, u'lng': -73.9678661},
 'AVENUE X': {u'lat': 40.7629881, u'lng': -73.9678661},
 "B'WAY-LAFAYETTE": {u'lat': 40.7127837, u'lng': -74.0059413},
 'BAY 50 ST': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'BAY PKWY': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BAY RIDGE AV': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BAYCHESTER AV': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 105 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 25 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 36 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 44 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 60 ST': {u'lat': 40.7629881, u'lng': -73.9678661},
 'BEACH 67 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 90 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEACH 98 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEDFORD AV': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BEDFORD PK BLVD': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BEDFORD-NOSTRAN': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BERGEN ST': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BEVERLEY ROAD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BEVERLY RD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BLEECKER ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BOROUGH HALL': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BOTANIC GARDEN': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BOWERY': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'BOWLING GREEN': {u'lat': 40.7046534, u'lng': -74.0135121},
 'BRIARWOOD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BRIGHTON BEACH': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BROAD CHANNEL': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BROAD ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'BROADWAY': {u'lat': 40.7250151, u'lng': -73.9956959},
 'BROADWAY JCT': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BRONX PARK EAST': {u'lat': 40.8746616, u'lng': -73.9057548},
 'BROOK AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'BROOKLYN BRIDGE': {u'lat': 40.6457491, u'lng': -73.9023102},
 'BUHRE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'BURKE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'BURNSIDE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'BUSHWICK AV': {u'lat': 40.6457491, u'lng': -73.9023102},
 'CANAL ST': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'CANARSIE-ROCKAW': {u'lat': 40.6457491, u'lng': -73.9023102},
 'CARROLL ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CASTLE HILL AV': {u'lat': 40.8338811, u'lng': -73.85120289999999},
 'CATHEDRAL PKWY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CENTRAL AV': {u'lat': 40.790242, u'lng': -73.9477967},
 'CENTRAL PK N110': {u'lat': 40.790242, u'lng': -73.9477967},
 'CHAMBERS ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CHAUNCEY ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CHRISTOPHER ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CHURCH AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'CITY / BUS': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CITY HALL': {u'lat': 40.754258, u'lng': -73.9778244},
 'CLARK ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CLASSON AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'CLEVELAND ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CLINTON-WASH AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'CONEY IS-STILLW': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CORTELYOU RD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CORTLANDT ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'COURT SQ': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'COURT SQ-23 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'CRESCENT ST': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'CROWN HTS-UTICA': {u'lat': 43.9560014, u'lng': -88.6747499},
 'CYPRESS AV': {u'lat': 40.6457491, u'lng': -73.9023102},
 'CYPRESS HILLS': {u'lat': 40.6457491, u'lng': -73.9023102},
 'DEKALB AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'DELANCEY/ESSEX': {u'lat': 40.7127837, u'lng': -74.0059413},
 'DITMAS AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'DYCKMAN ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 "E 143/ST MARY'S": {u'lat': 40.7127837, u'lng': -74.0059413},
 'E 149 ST': {u'lat': 40.8160854, u'lng': -73.9177402},
 'E 180 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'EAST 105 ST': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'EAST BROADWAY': {u'lat': 40.7250151, u'lng': -73.9956959},
 'EASTCHSTER/DYRE': {u'lat': 40.7127837, u'lng': -74.0059413},
 'EASTN PKWY-MUSM': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ELDER AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'ELMHURST AV': {u'lat': 40.7127837, u'lng': -74.0059413},
 'EUCLID AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'EXCHANGE PLACE': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'FAR ROCKAWAY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FLATBUSH AV-B.C': {u'lat': 40.6457491, u'lng': -73.9023102},
 'FLUSHING AV': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FLUSHING-MAIN': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FORDHAM RD': {u'lat': 40.8746616, u'lng': -73.9057548},
 'FOREST AVE': {u'lat': 40.7629881, u'lng': -73.9678661},
 'FOREST HILLS 71': {u'lat': 40.7123682, u'lng': -73.88410979999999},
 'FRANKLIN AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'FRANKLIN ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FREEMAN ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FRESH POND RD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'FT HAMILTON PKY': {u'lat': 40.6495574, u'lng': -73.9757135},
 'FULTON ST': {u'lat': 40.709395, u'lng': -74.0083169},
 'GATES AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'GRAHAM AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'GRAND ARMY PLAZ': {u'lat': 40.7127837, u'lng': -74.0059413},
 'GRAND ST': {u'lat': 40.713982, u'lng': -73.932068},
 'GRAND-NEWTOWN': {u'lat': 40.7127837, u'lng': -74.0059413},
 'GRANT AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'GRD CNTRL-42 ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'GREENPOINT AV': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'GROVE STREET': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'GUN HILL RD': {u'lat': 40.8746616, u'lng': -73.9057548},
 'HALSEY ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HARLEM 148 ST': {u'lat': 40.81597920000001, u'lng': -73.958129},
 'HARRISON': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HEWES ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HIGH ST': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'HOUSTON ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HOWARD BCH JFK': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HOYT ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HOYT-SCHER': {u'lat': 40.7127837, u'lng': -74.0059413},
 'HUNTERS PT AV': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'HUNTS POINT AV': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'INTERVALE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'INWOOD-207 ST': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'JACKSON AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'JAMAICA 179 ST': {u'lat': 40.712528, u'lng': -73.78408100000001},
 'JAMAICA CENTER': {u'lat': 40.7127837, u'lng': -74.0059413},
 'JAMAICA VAN WK': {u'lat': 40.7127837, u'lng': -74.0059413},
 'JAY ST-METROTEC': {u'lat': 40.7127837, u'lng': -74.0059413},
 'JEFFERSON ST': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'JFK JAMAICA CT1': {u'lat': 40.7127837, u'lng': -74.0059413},
 'JKSN HT-ROOSVLT': {u'lat': 40.7127837, u'lng': -74.0059413},
 'JOURNAL SQUARE': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'JUNCTION BLVD': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'JUNIUS ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'KEW GARDENS': {u'lat': 40.7127837, u'lng': -74.0059413},
 'KINGS HWY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'KINGSBRIDGE RD': {u'lat': 40.8746616, u'lng': -73.9057548},
 'KINGSTON AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'KINGSTON-THROOP': {u'lat': 40.7127837, u'lng': -74.0059413},
 'KNICKERBOCKER': {u'lat': 40.7127837, u'lng': -74.0059413},
 'KOSCIUSZKO ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'LACKAWANNA': {u'lat': 40.7127837, u'lng': -74.0059413},
 'LAFAYETTE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'LEXINGTON AV/53': {u'lat': 40.7127837, u'lng': -74.0059413},
 'LEXINGTON AV/63': {u'lat': 40.7127837, u'lng': -74.0059413},
 'LIBERTY AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'LIVONIA AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'LONGWOOD AV': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'LORIMER ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MARBLE HILL-225': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'MARCY AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'METROPOLITAN AV': {u'lat': 40.71237199999999, u'lng': -73.889526},
 'METS-WILLETS PT': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MIDDLETOWN RD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MONTROSE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'MORGAN AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'MORISN AV/SNDVW': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MORRIS PARK': {u'lat': 40.790242, u'lng': -73.9477967},
 'MOSHOLU PKWY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MT EDEN AV': {u'lat': 40.81776259999999, u'lng': -73.96256079999999},
 'MYRTLE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'MYRTLE-WILLOUGH': {u'lat': 40.7127837, u'lng': -74.0059413},
 'MYRTLE-WYCKOFF': {u'lat': 40.6996964, u'lng': -73.91171419999999},
 'NASSAU ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NECK RD': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEPTUNE AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'NEREID AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'NEVINS ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEW LOTS': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEW LOTS AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'NEW UTRECHT AV': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEWARK BM BW': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEWARK C': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'NEWARK HM HE': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEWARK HW BMEBE': {u'lat': 40.7127837, u'lng': -74.0059413},
 'NEWKIRK AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'NEWKIRK PLAZA': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'NORTHERN BLVD': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'NORWOOD 205 ST': {u'lat': 40.8746616, u'lng': -73.9057548},
 'NORWOOD AV': {u'lat': 40.8746616, u'lng': -73.9057548},
 'NOSTRAND AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'OCEAN PKWY': {u'lat': 40.7127837, u'lng': -74.0059413},
 'OZONE PK LEFFRT': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PARK PLACE': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'PARKCHESTER': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PARKSIDE AV': {u'lat': 40.8746616, u'lng': -73.9057548},
 'PARSONS BLVD': {u'lat': 40.7122867, u'lng': -74.00473769999999},
 'PATH WTC': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PATH WTC 2': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PAVONIA/NEWPORT': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PELHAM BAY PARK': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PELHAM PKWY': {u'lat': 40.8746616, u'lng': -73.9057548},
 'PENNSYLVANIA AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'PRESIDENT ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PRINCE ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'PROSPECT AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'PROSPECT PARK': {u'lat': 40.6616199, u'lng': -73.962245},
 'QUEENS PLAZA': {u'lat': 40.6457491, u'lng': -73.9023102},
 'QUEENSBORO PLZ': {u'lat': 40.72305619999999, u'lng': -74.038853},
 'RALPH AV': {u'lat': 40.7629881, u'lng': -73.9678661},
 'RECTOR ST': {u'lat': 40.7127837, u'lng': -74.0059413},
 'RIT-MANHATTAN': {u'lat': 40.7127837, u'lng': -74.0059413},
 'RIT-ROOSEVELT': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ROCKAWAY AV': {u'lat': 40.6457491, u'lng': -73.9023102},
 'ROCKAWAY BLVD': {u'lat': 40.6457491, u'lng': -73.9023102},
 'ROCKAWAY PARK B': {u'lat': 40.7127837, u'lng': -74.0059413},
 'ROOSEVELT ISLND': {u'lat': 40.790242, u'lng': -73.9477967},

In [1]:
station_loc_dict

NameError: name 'station_loc_dict' is not defined

In [ ]:
import csv

In [63]:
with open('station_loc.csv','wb') as f:
    w = csv.writer(f)
    w.writerow(station_loc_dict.keys())
    w.writerow(station_loc_dict.values())

In [64]:
n = len(df)
print n

191890

In [50]:
#df["Latitude"] = 0
#df["Longitude"] = 0

In [ ]:
# print df.head()

In [ ]:
'''
for i in range(0,len(df)):
    station_name = df["station"][i]
#    print station
#    print station_name in station_loc_dict
#    print station_loc_dict[station_name]
#    print type(station_loc_dict[station_name])
    
    location_info_dict = station_loc_dict[station_name]
    #print location_info_dict
#    print type(location_info_dict)
#    print location_info_dict.keys()
    #lat = float(location_info_dict[u'lat'])
    #lon = float(location_info_dict[u'lng'])
    df["Latitude"][i] = float(location_info_dict[u'lat'])      #<<-- for some reason when i tried to declare them directly, it turned into an integer automatically
    df["Longitude"][i] = float(location_info_dict[u'lng'])    #<<-- for some reason when i tried to declare them directly, it turned into an integer automatically
    
'''

In [ ]:
print df.shape
print df.shape[0]

In [65]:
print df.head()

  turnstyle station        date      time     type  entries    exits
0  02-00-00   59 ST  03/12/2016  03:00:00  REGULAR  5583673  1884949
1  02-00-00   59 ST  03/12/2016  07:00:00  REGULAR  5583689  1884968
2  02-00-00   59 ST  03/12/2016  11:00:00  REGULAR  5583785  1885067
3  02-00-00   59 ST  03/12/2016  15:00:00  REGULAR  5584037  1885157
4  02-00-00   59 ST  03/12/2016  19:00:00  REGULAR  5584482  1885250

In [ ]:
'''
#for i in range(0,df.shape[0])
for i in range(0,50):
    row_station = df["station"][i]          # Extract out the station for the particular turnstyle row

    # This isn't working yet!!
    location_tuple = stationLocDict[row_station]                     # Look up that station in the station location dictionary
    print location_tuple
    
    #df["Latitude"] = location_tuple[0]
    #df["Longitude"] = location_tuple[2]
    '''

# Here's what needs to happen:

1. Step 1 - create date time
2. Step 2 - split - station
3. Step 3 - split on date_time
4. Step 4 sum on turnstyle
5. Step 5 diff on entries & exits

## Step 1 - create date time

In [66]:
# Reference: http://stackoverflow.com/questions/17978092/combine-date-and-time-columns-using-python-pandas
df["date_time"] = pd.to_datetime(df["date"] + " " + df["time"])
print df.head()

  turnstyle station        date      time     type  entries    exits  \
0  02-00-00   59 ST  03/12/2016  03:00:00  REGULAR  5583673  1884949
1  02-00-00   59 ST  03/12/2016  07:00:00  REGULAR  5583689  1884968
2  02-00-00   59 ST  03/12/2016  11:00:00  REGULAR  5583785  1885067
3  02-00-00   59 ST  03/12/2016  15:00:00  REGULAR  5584037  1885157
4  02-00-00   59 ST  03/12/2016  19:00:00  REGULAR  5584482  1885250

            date_time
0 2016-03-12 03:00:00
1 2016-03-12 07:00:00
2 2016-03-12 11:00:00
3 2016-03-12 15:00:00
4 2016-03-12 19:00:00

# Step 2, 3, 4 - split station & date-time, sum on turnstyle

In [67]:
grouped_dataframe = df.groupby(["station","date_time"]).sum()
grouped_dataframe.head()

                                entries       exits
station date_time
1 AV    2016-03-12 03:00:00  1559766030  3475080175
        2016-03-12 07:00:00  1559766573  3475080719
        2016-03-12 11:00:00  1559768714  3475082789
        2016-03-12 15:00:00  1559773222  3475085644
        2016-03-12 19:00:00  1559778512  3475089242

# Step 5 - Find differences between entries and exits

In [68]:
peter_final_dataframe = grouped_dataframe.groupby(level=0).diff().fillna(grouped_dataframe).reset_index()
# setting groupby(level=0) -> tells it keep the first variable ("station") constant .. or aggregate across them.

# we can probably remove the fillna(grouped_dataframe) can probably be removed since those first points will be removed anyway.

In [74]:
grouped_dataframe.groupby(level=0).head().diff().fillna(grouped_dataframe).reset_index()
#.diff().fillna(grouped_dataframe).reset_index().

              station           date_time     entries       exits
0                1 AV 2016-03-12 03:00:00  1559766030  3475080175
1                1 AV 2016-03-12 07:00:00         543         544
2                1 AV 2016-03-12 11:00:00        2141        2070
3                1 AV 2016-03-12 15:00:00        4508        2855
4                1 AV 2016-03-12 19:00:00        5290        3598
5              103 ST 2016-03-12 00:00:00 -1408047936 -2881263719
6              103 ST 2016-03-12 04:00:00         408         529
7              103 ST 2016-03-12 08:00:00        1230         561
8              103 ST 2016-03-12 12:00:00        4919        1940
9              103 ST 2016-03-12 16:00:00        5552        2380
10      103 ST-CORONA 2016-03-12 03:00:00   -89463537  -534148199
11      103 ST-CORONA 2016-03-12 07:00:00        1015         543
12      103 ST-CORONA 2016-03-12 11:00:00        3134        1199
13      103 ST-CORONA 2016-03-12 15:00:00        2061        1673
14      103 ST-CORONA 2016-03-12 19:00:00        1704        2964
15             104 ST 2016-03-12 03:00:00  3799141417  3107600168
16             104 ST 2016-03-12 07:00:00         287          30
17             104 ST 2016-03-12 11:00:00         682         107
18             104 ST 2016-03-12 15:00:00         500         142
19             104 ST 2016-03-12 19:00:00         367         319
20             110 ST 2016-03-12 03:00:00 -3835426404 -3140665480
21             110 ST 2016-03-12 07:00:00         430         374
22             110 ST 2016-03-12 11:00:00        2307        1359
23             110 ST 2016-03-12 15:00:00        2637        1900
24             110 ST 2016-03-12 19:00:00        2549        2083
25             111 ST 2016-03-12 00:00:00   -23890532   -24335875
26             111 ST 2016-03-12 03:00:00    53407915    35907471
27             111 ST 2016-03-12 04:00:00   -53407913   -35907463
28             111 ST 2016-03-12 07:00:00    53409151    35907772
29             111 ST 2016-03-12 08:00:00   -53409126   -35907767
...               ...                 ...         ...         ...
1835      WINTHROP ST 2016-03-12 00:00:00    17094008    -7526098
1836      WINTHROP ST 2016-03-12 04:00:00          73          56
1837      WINTHROP ST 2016-03-12 08:00:00         398          61
1838      WINTHROP ST 2016-03-12 12:00:00         972         206
1839      WINTHROP ST 2016-03-12 16:00:00        1007         235
1840   WOODHAVEN BLVD 2016-03-12 00:00:00    24282633    31395311
1841   WOODHAVEN BLVD 2016-03-12 03:00:00    -4776552   -22957759
1842   WOODHAVEN BLVD 2016-03-12 04:00:00     4776753    22958237
1843   WOODHAVEN BLVD 2016-03-12 07:00:00    -4776477   -22958167
1844   WOODHAVEN BLVD 2016-03-12 08:00:00     4778059    22958519
1845         WOODLAWN 2016-03-12 03:00:00   -28601628   -25758057
1846         WOODLAWN 2016-03-12 07:00:00         476          83
1847         WOODLAWN 2016-03-12 11:00:00        1160         235
1848         WOODLAWN 2016-03-12 15:00:00        1064         364
1849         WOODLAWN 2016-03-12 19:00:00        1247         456
1850  WORLD TRADE CTR 2016-03-12 03:00:00     7871068     7629079
1851  WORLD TRADE CTR 2016-03-12 07:00:00         141         181
1852  WORLD TRADE CTR 2016-03-12 11:00:00         732         943
1853  WORLD TRADE CTR 2016-03-12 15:00:00        2001        1546
1854  WORLD TRADE CTR 2016-03-12 19:00:00        3086        1529
1855          YORK ST 2016-03-12 00:00:00    -3503705    10188941
1856          YORK ST 2016-03-12 04:00:00         133         270
1857          YORK ST 2016-03-12 08:00:00         194         432
1858          YORK ST 2016-03-12 12:00:00        1096        1947
1859          YORK ST 2016-03-12 16:00:00        2459        2495
1860        ZEREGA AV 2016-03-12 00:00:00    21788225   -28494377
1861        ZEREGA AV 2016-03-12 04:00:00          21         113
1862        ZEREGA AV 2016-03-12 08:00:00         223         103
1863        ZEREGA AV 2016-03-12 12:00:00         387         236
1864        ZEREGA AV 2016-03-12 16:00:00         425         267

[1865 rows x 4 columns]

# Adding Totals Column

In [69]:
peter_final_dataframe["total"] = peter_final_dataframe["entries"] + peter_final_dataframe["exits"] 
peter_final_dataframe.head()

  station           date_time     entries       exits       total
0    1 AV 2016-03-12 03:00:00  1559766030  3475080175  5034846205
1    1 AV 2016-03-12 07:00:00         543         544        1087
2    1 AV 2016-03-12 11:00:00        2141        2070        4211
3    1 AV 2016-03-12 15:00:00        4508        2855        7363
4    1 AV 2016-03-12 19:00:00        5290        3598        8888

In [70]:
peter_final_dataframe.to_csv("peter_final_dataframe_counts")

# This is a slight diversion from working on the main dataframe.
# Here I create a dictionary of lat's and long's for each station

In [ ]:
# Real data
station_loc_table = pd.read_csv('StationEntrances.csv')
station_loc_table.head()

Station_Names_List = station_loc_table["Station_Name"]
Station_Latitude_List = station_loc_table["Station_Latitude"]
Station_Longitude_List = station_loc_table["Station_Longitude"]

print len(Station_Latitude_List)
print len(Station_Longitude_List)
print len(Station_Names_List)

'''
# Method 1 of creating the dictionary
stationLocDict = {}
for i in range(0, len(Station_Names_List)):
    stationLocDict[Station_Names_List[i]] = (Station_Latitude_List[i], Station_Longitude_List[i])
'''

# Method 2 of creating the dictionary
stationLocDict = {Station_Names_List[i]: (Station_Latitude_List[i], Station_Longitude_List[i]) for i in range(0, len(Station_Names_List))}
print len(stationLocDict.keys())
print 

'''
for station in stationLocDict.keys():
    print station
'''

len(df["station"].unique())

for station in df["station"].unique():
    print station

    
print stationLocDict["59 St"]

print stationLocDict["59th St"]